<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    [nzWidth]="siderWidth"
    nz-resizable
    [nzMinWidth]="50"
    [nzMaxWidth]="1000"
    (nzResize)="onSideResize($event)"
  >
    <nz-resize-handle nzDirection="right" nzCursorType="grid">
      <div class="sider-resize-line"></div>
    </nz-resize-handle>
    <div class="sidebar-logo">
      <a routerLink="/">
        <img
          ngSrc="./assets/crepusculumx.svg"
          alt="logo"
          height="16"
          width="16"
        />
      </a>
    </div>
    <ng-container *ngIf="menus$ | async as menus">
      <app-layout-menus [menus]="menus"></app-layout-menus>
    </ng-container>
    <div
      class="sidebar-trigger"
      (click)="isCollapsed$.next(!isCollapsed$.value)"
    >
      <i
        class="trigger"
        nz-icon
        [nzType]="(isCollapsed$ | async) ? 'menu-unfold' : 'menu-fold'"
      ></i>
    </div>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <div class="app-header">
        <span
          class="header-trigger"
          (click)="isCollapsed$.next(!isCollapsed$.value)"
        >
          <i
            class="trigger"
            nz-icon
            [nzType]="(isCollapsed$ | async) ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <span class="header-trigger" (click)="themeService.toggleTheme()">
          <i class="trigger" nz-icon nzType="skin" nzTheme="outline"></i>
        </span>
        <!--        <span class="header-trigger-right">-->
        <!--          <app-basic-layout-user-header></app-basic-layout-user-header-->
        <!--        ></span>-->
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <a
        href="https://beian.miit.gov.cn/publish/query/indexFirst.action"
        target="_blank"
      >
        <span style="color: #9d9d9d"> 备案号 </span>
      </a>
    </nz-footer>
  </nz-layout>
</nz-layout>
