<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    [nzCollapsed]="isCollapsed$ | async"
    [nzCollapsedWidth]="0"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <div *ngIf="menus$ | async as menus">
      <layout-menus [menus]="menus"></layout-menus>
    </div>
  </nz-sider>
  <nz-layout
    [ngStyle]="(isCollapsed$ | async) ? {} : { 'margin-left': '256px' }"
  >
    <nz-header>
      <div class="app-header">
        <span
          class="header-trigger"
          (click)="isCollapsed$.next(!isCollapsed$.value)"
        >
          <i
            class="trigger"
            nz-icon
            [nzType]="(isCollapsed$ | async) ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <span class="header-trigger" (click)="themeService.toggleTheme()">
          <i class="trigger" nz-icon nzType="skin" nzTheme="outline"></i>
        </span>
        <span class="header-trigger" (click)="layoutService.enterBlank()">
          <span nz-icon nzType="fullscreen" nzTheme="outline"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
